@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

.card {
  width: 340px;
  height: 600px;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
  margin: 0 10px;
  @include border-radius(7px);
  
  .card__header {
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 12px;

    .name-video {
      background-color: #086341;
      padding: 10px;
      text-align: center;
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      opacity: .8;

      .name-video__link {
        color: #fff;

        .name-video__text {
          font-family: 'caviar_dreamsbold', sans-serif;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
  
  .main-inf {
    font-family: 'caviar_dreamsbold', sans-serif;
    font-size: 20px;
    color: #4e4e4e;
  
    p {
      padding: 15px 47px;
      position: relative;
      text-align: center;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
    }
    
    }
  
    .main-inf__channel-title {
      margin-top: 20px;
  
    &:before {
      width: 17px;
      height: 45px;
      left: 20px;
      background: url(../fonts/male-solid.svg) no-repeat;
    }
  
    }
  
    .main-inf__date {
      &:before {
        width: 30px;
        height: 35px;
        left: 14px;
        background: url(../fonts/calendar-alt-solid.svg) no-repeat;
      }
    }
  
    .main-inf__views {
      &:before {
        width: 35px;
        height: 30px;
        left: 12px;
        background: url(../fonts/eye-regular.svg) no-repeat;
      }
    }
  }
  
  .card__footer {
    color: #606060;
  
    .card__descr-video {
      font-family: 'caviar_dreamsitalic', sans-serif;
      text-align: left;
      font-size: 16px;
      padding: 15px;
    }
  }
}
